.rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    background-color: var(--background);
    color: var(--cor-font-geral);
}

.rodape > div{
    width: 33.3%;
    display: flex;
    align-items: center;
}

.imgRodape{
    justify-content: center;
}

.imgRodape img{
    width: 300px;
}

.direitosInfo{
    justify-content: end;
}

.direitosInfo p,
.direitosInfo h1{
    font-family: 'santello';
}