.topo{
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--background);
}

.particulas{
    min-height: 100vh;
    position: absolute;
}

.nomeLogo{
    max-width: 100vw;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

.videoBackground{
    min-width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.menuHora{
    background-color: var(--cor-font-geral);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 140px;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    top: 30px;
    right: 30px;
    border-radius: 20px;
}

.menuHora div{
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--background)
}

.tituloTopo{
    position: absolute;
    top: 120px;
    left: 50px;
}
.tituloTopo > h1{
    color:  var(--cor-font-geral);
    font-size: 2rem;
}

